
.profileWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px; 
    margin-right: 20px;
    padding: 20px; /* Space around the grid container */
    width: 100%;
    justify-content: center;
    
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 22rem;
    height: 28rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

.profile .profileImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--background);
    transition: .5s;
}

.profileImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile:hover img {
    opacity: 0.4;
    transition: .5s;
}

.profile:hover .profileImage {
    transform: translateY(-104px);
    transition: all .9s;
}

.profile:hover .profileBio {
    opacity: 0.9; 
}

.socialIcons {
    position: absolute;
    display: flex;
    gap: 0.75rem;
    z-index: 3;
    bottom: 10.125rem;
}

.socialIcons li {
    list-style: none;
}

.socialIcons li a {
    position: relative;
    display: block;
    display: grid;
    place-items: center;
    background: #fff;
    font-size: 23px;
    font-weight: bold;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #CDCDCD;
    border-radius: 0.5rem;
    transition: .2s;
    transform: translateY(2rem);
    opacity: 0;
}

.socialIcons li a:hover {
    background-color: violet;
    transition: .2s;
}

.socialIcons li a svg {
    color: violet;
    transition: .2s;
}

.socialIcons li a:hover svg {
    color: white;
    transition: .2s;
}

.profile:hover .socialIcons li a {
    transform: translateY(0);
    opacity: 0.9;
}

.profileName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    bottom: 2rem;
    color: white;
}

.profileName h2 {
    font-size: 1.5rem;
}

.profileBio {
    text-align: center;
    opacity: 0;
    font-size: 0.875rem;
    transition: all .5s;
}

.profileName h2,
.profileBio {
    text-shadow: 1px 1px 5px black;
}

.loading {
    text-align: center;
    font-size: 1.5rem;
    color: #555;
}

.noMembers {
    text-align: center;
    font-size: 1.5rem;
    color: #bc0909;
}


